// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2015, The Linux Foundation. All rights reserved.
 * Copyright (c) 2022-2023, Bryan O'Donoghue.
 *
 */

/dts-v1/;

#include "msm8939.dtsi"
#include "msm8939-pm8916.dtsi"
#include <dt-bindings/arm/qcom,ids.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/sound/qcom,lpass.h>
#include <dt-bindings/sound/apq8016-lpass.h>

/ {
	model = "Sony Xperia M4 Aqua";
	compatible = "sony,kanuti-tulip", "qcom,msm8939";
	chassis-type = "handset";

	qcom,board-id = <QCOM_BOARD_ID_MTP 0>;
	qcom,msm-id = <QCOM_ID_MSM8939 0>, <QCOM_ID_MSM8939 0x30000>;

	aliases {
		mmc0 = &sdhc_1; /* SDC1 eMMC slot */
		mmc1 = &sdhc_2; /* SDC2 SD card slot */
		serial0 = &blsp_uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	usb_id: usb-id {
		compatible = "linux,extcon-usb-gpio";
		id-gpios = <&tlmm 110 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&usb_id_default>;
		pinctrl-names = "default";
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-0 = <&gpio_keys_default>;
		pinctrl-names = "default";

		button-camera-focus {
			label = "Camera Focus";
			gpios = <&tlmm 108 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_CAMERA_FOCUS>;
			wakeup-source;
			debounce-interval = <100>;
		};

		button-camera-snapshot {
			label = "Camera Snapshot";
			gpios = <&tlmm 109 GPIO_ACTIVE_LOW>;
			linux,code = <0x2fe>;
			wakeup-source;
			debounce-interval = <100>;

		};

		button-volume-up {
			label = "Volume Up";
			gpios = <&tlmm 11 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			debounce-interval = <100>;
		};

		button-volume-down {
			label = "Volume Down";
			gpios = <&tlmm 51 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			debounce-interval = <15>;
		};
	};

	amp: analog-amplifier {
		compatible = "simple-audio-amplifier";

		enable-gpios = <&tlmm 49 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	reg_dummy: regulator-dummy {
		compatible = "regulator-fixed";
		regulator-name = "dummy_regulator";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&gpu {
	status = "okay";
};

&mdss {
	status = "okay";
};

&mdss_dsi0 {
	vdda-supply = <&pm8916_l2>;
	vddio-supply = <&pm8916_l6>;
	status = "okay";
	positive5-supply = <&reg_dummy>;
	negative5-supply = <&reg_dummy>;

	panel@0 {
		compatible = "sony,tulip-truly-nt35521";
		reg = <0>;

		reset-gpios = <&tlmm 25 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};
		};
	};
};

&mdss_dsi0_phy {
	vddio-supply = <&pm8916_l6>;
	status = "okay";
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0 1 2 3>;
};

&tlmm {
	sdc2_cd_default: sdc2-cd-default-state {
		pins = "gpio38";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};

	usb_id_default: usb-id-default-state {
		pins = "gpio110";
		function = "gpio";
		bias-pull-up;
		drive-strength = <8>;
	};

	gpio_keys_default: gpio-key-default {
		pins = "gpio11", "gpio51", "gpio108", "gpio109";
		function = "gpio";
		bias-pull-up;
		drive-strength = <2>;
	};

	mdss_dsi_default: mdss-dsi-default {
		pins = "gpio25", "gpio97", "gpio98";
		function = "gpio";

		drive-strength = <8>;
		bias-disable;
	};

	mdss_dsi_sleep: mdss-dsi-sleep {
		pins = "gpio25", "gpio97", "gpio98";
		function = "gpio";

		drive-strength = <2>;
		bias-pull-down;
	};
};

&sdhc_1 {
	status = "okay";
};

&sdhc_2 {
	pinctrl-0 = <&sdc2_default &sdc2_cd_default>;
	pinctrl-1 = <&sdc2_sleep &sdc2_cd_default>;
	pinctrl-names = "default", "sleep";
	cd-gpios = <&tlmm 38 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&sound {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&cdc_pdm_default>;
	pinctrl-1 = <&cdc_pdm_sleep>;
	status = "okay";

	model = "sony-tulip";
	audio-routing =
	"AMIC1", "MIC BIAS External1",
	"AMIC2", "MIC BIAS Internal2",
	"AMIC3", "MIC BIAS External1";
	aux-devs = <&amp>;

	internal-codec-playback-dai-link@0 {
		link-name = "WCD";

		cpu {
			sound-dai = <&lpass MI2S_PRIMARY>;
		};

		codec {
			sound-dai = <&lpass_codec 0>;
		};
	};

	internal-codec-capture-dai-link@0 {
		link-name = "WCD-Capture";

		cpu {
			sound-dai = <&lpass MI2S_TERTIARY>;
		};

		codec {
			sound-dai = <&lpass_codec 1>;
		};
	};
};

&lpass {
	status = "okay";
};

&lpass_codec {
	status = "okay";
};

&usb {
	extcon = <&usb_id>, <&usb_id>;
	status = "okay";
};

&usb_hs_phy {
	extcon = <&usb_id>;
};

&wcnss {
	status = "okay";
};

&wcnss_iris {
	compatible = "qcom,wcn3660";
};

&wcnss_mem {
	status = "okay";
};
